<div class="container top-margin-25">
    <button class="btn-block" data-toggle="collapse" data-target="#createForm">Create new<i class="fas fa-angle-down"></i></button>
    <form method="post" action="/" class="collapse show" id="createForm">
        <div class="from-group">
            <label for="cardName">Name</label>
            <input type="text" class="form-control" id="cardName" name="name" required>
        </div>
        <div class="form-group">
            <label for="cardDesc">Description</label>
            <textarea type="text" class="form-control" id="cardDesc" name="description"></textarea>
        </div>
        <div class="form-group">
            <label>Progress</label>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="status" value="planning" checked><%= status['planning'] %>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="status" value="progress"><%= status['progress'] %>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="status" value="completed"><%= status['completed'] %>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label style="display: block;">Color</label>

            <input type="radio" name="color" class="material-radio" id="grey" value="grey" checked />
            <label class="material-label" for="grey"><span class="grey"></span></label>

            <input type="radio" name="color" class="material-radio" id="red" value="red" />
            <label class="material-label" for="red"><span class="red"></span></label>

            <input type="radio" name="color" class="material-radio" id="orange" value="orange" />
            <label class="material-label" for="orange"><span class="orange"></span></label>

            <input type="radio" name="color" class="material-radio" id="yellow" value="yellow" />
            <label class="material-label" for="yellow"><span class="yellow"></span></label>

            <input type="radio" name="color" class="material-radio" id="green" value="green" />
            <label class="material-label" for="green"><span class="green"></span></label>

            <input type="radio" name="color" class="material-radio" id="blue-green" value="blue-green" />
            <label class="material-label" for="blue-green"><span class="blue-green"></span></label>

            <input type="radio" name="color" class="material-radio" id="blue" value="blue" />
            <label class="material-label" for="blue"><span class="blue"></span></label>

            <input type="radio" name="color" class="material-radio" id="dark-blue" value="dark-blue" />
            <label class="material-label" for="dark-blue"><span class="dark-blue"></span></label>

            <input type="radio" name="color" class="material-radio" id="purple" value="purple" />
            <label class="material-label" for="purple"><span class="purple"></span></label>

            <input type="radio" name="color" class="material-radio" id="pink" value="pink" />
            <label class="material-label" for="pink"><span class="pink"></span></label>
        </div>
        <div class="form-group">
            <label for="dueTo">Due to</label>
            <input type="text" class="form-control" name="dueTo" id="dueTo" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="uploader">Files</label>
            <p class="uploader-yellow-button">
                <input type="hidden" role="uploadcare-uploader" id="uploader" name="files" data-multiple="true" />
            </p>
        </div>
        <button class="btn btn-primary btn-wide">Save</button>
    </form>
    <button class="btn-block collapsed" data-toggle="collapse" data-target="#searchForm">Filter<i class="fas fa-angle-down"></i></button>
    <form method="post" action="/filter" id="searchForm" class="collapse">
        <div class="form-group">
            <label>Progress</label>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="status" value="planning"><%= status['planning'] %>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="status" value="progress"><%= status['progress'] %>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="status" value="completed"><%= status['completed'] %>
                </label>
            </div>
        </div>
        <button class="btn btn-primary btn-half" type="submit" value="find" name="btn">Find</button>
        <button class="btn btn-info btn-half" type="submit" value="reset" name="btn">Reset</button>
    </from>
</div>
